body {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    color: #130f40;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    overflow: hidden;
}

.container {
    width: auto;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0.1);
    border-radius: 6px;
}

.thank-you-message {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: green;
}

p {
    font-size: 18px;
    font-weight: 600;
    margin: 30px auto;
}

.redirect-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.redirect-button:hover {
    background-color: #0056b3;
}

.checkmark {
    width: 70px;
    height: 70px;
    margin: 100px auto;
    display: none;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 50%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark span {
    color: green;
}

.checkmark.animate {
    animation: scale 2s ease-in-out forwards infinite;
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
        transition: 5s linear;
    }
    50% {
        transform: scale(2);
        opacity: 1;
        transition: 5s linear;
    }
    100% {
        transform: scale(1);
        transition: 5s linear;
    }
}